.carouselWrap{
    overflow-x: scroll;
}
.carousel{
    padding-left: 6rem;
    padding-right: 6rem;
    padding-bottom: 1rem;
}
.div-title-planet, .div-title-people{
    margin-left: 6rem;
    text-align: left;
    color:black ;
    margin-bottom: 1rem;
    -webkit-text-stroke: 0.5px yellow ;
}
.div-title-people{
    margin-top: 5rem;
}
.div-title-planet{
    margin-top: 5rem;
}
/* .button-learn-more{
    float: left;
}
.button-heart{
    float: right;
} */
.card-text, .card-title{
    text-align: left;
}

.div-column-details{
    margin-top: 4rem;
    color: #5e2129;
    margin-bottom: 4rem;
    border-top: 1px solid #5e2129;
    text-align: center;
    padding-top: 1rem;
}
.title-name-characters{
    -webkit-text-stroke: 0.3px yellow 
}
.div-people-details, .div-planets-details{
    margin-top: 6rem;
}
.card{
    background-color: white;
    padding: 1rem;
    border: transparent;
}
.div-title-planets{
    margin-top: 6rem;

}
.div-card-buttons{
    justify-content: space-between;
    display: flex;
}
.div-card-buttons-planets{
    justify-content: space-between;
    display: flex;
    margin-top: 1rem;
}
